* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: min-content auto;
}

.contactsbox,
.chatbox {
  height: 100vh;
  overflow: hidden scroll;
}

.chatbox {
  position: relative;
}

.chatbox__chat {
  min-height: 80vh;
}

.contactsbox h2 {
  color: #79bbd9;
  padding: 20px;
}

.contactsbox__header {
  background-color: #f5f5f5;
  display: grid;
}

.contactsbox__profile {
  position: relative;
  background-color: #ebecf0;
  border-radius: 25px;
  width: 50px;
  margin: 20px;
}

.contactsbox__profile svg {
  color: #777e86;
  font-size: 50px;
}

form {
  background-color: #f5f5f5;
  padding: 20px;
  border-bottom: outset 1px gray;
}

input {
  width: 100%;
  border-radius: 25px;
  outline: none;
  padding: 5px 5px 5px 25px;
  border: outset 1px gray;
}

.chatbox_message_wrapper {
  margin-bottom: 25px;
}

.chatbox__message__outcoming {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}

.chatbox__message__outcoming__text {
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 15px;
  margin: 15px 10px;
}

.chatbox__message__outcoming__date {
  background-color: inherit;
  color: #b4b4b4;
  text-align: end;
  margin: 0 20px;
}

.chatbox__message__incoming {
  display: grid;
  grid-template-columns: max-content auto;
  justify-content: start;
  grid-gap: 5px;
  margin: 15px 10px;
}

.chatbox__message__incoming__text {
  background-color: #3c4252;
  color: white;
  align-self: center;
  margin: 0;
  border-radius: 20px;
  padding: 15px;
}

.chatbox__message__incoming__date {
  background-color: inherit;
  color: #b4b4b4;
  margin: 0 20px;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: max-content min-content auto;
  grid-gap: 10px;
  padding: 20px;
  border-bottom: outset 1px gray;
  cursor: pointer;
}

.contact__wrapper__image {
  position: relative;
}

.contact__wrapper__image__icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

.contact__wrapper__image__icon svg {
  color: green;
  font-size: larger;
  text-shadow: -1px 0 black;
}

.contact__wrapper__text p,
h4 {
  padding: 0;
  margin: 0;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chatbox__active__contact {
  display: grid;
  grid-template-columns: max-content auto auto;
  justify-content: start;
  padding: 20px;
  background-color: #f5f5f5;
  border-bottom: outset 1px gray;
  grid-gap: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.chatbox__back_arrow {
  visibility: hidden;
  font-size: larger;
  align-self: center;
}

.chatbox__back_arrow:hover,
.chatbox__back_arrow:active {
  color: red;
  cursor: pointer;
}

.chatbox form {
  position: sticky;
  bottom: 0;
  left: 0;
  align-items: center;
  display: flex;
}

.chatbox__active__contact p,
h4 {
  padding: 0;
  margin: 0;
  align-self: center;
  width: initial;
}

.contactsbox form {
  min-width: 500px;
  position: relative;
  display: flex;
  align-items: center;
}

.contactsbox__svg {
  position: absolute;
  left: 30px;
}

.contact__wrapper__text__notification {
  padding: 5px;
  color: red;
}

.chatbox button {
  border: none;
  position: absolute;
  right: 25px;
  background-color: initial;
}

.chatbox button:hover {
  color: red;
}

.chatbox button:active {
  color: red;
}

.chatbox__contact__is__typing {
  height: 40px;
}

.chatbox__placeholder {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  #root {
    grid-template-columns: auto;
  }

  body {
    overflow: hidden;
  }

  .contactsbox {
    overflow: hidden auto;
  }
  .chatbox__back_arrow {
    visibility: visible;
  }

  .chatbox {
    overflow: auto;
  }

  .contact__wrapper__text p,
  h4 {
    width: 150px;
  }

  .chatbox__active__contact p,
  h4 {
    width: initial;
  }
}
